:root {
  --resolution-1080-title-font-size: 2.8em;
  --resolution-2k-title-font-size: 3.2em;
  --resolution-4k-title-font-size: 3.6em;

  --resolution-4k-secondary-title-font-size: 3.3rem;
}

a,
a:hover {
  color: #ffbc09;
}

::selection {
  color: #404040;
  background-color: #ffbc09;
}

#yeah-title {
  color: #ffbc09;
  font-weight: 700;
}

.the-pillows-background {
  height: 100vh;
  background-attachment: fixed;
  background-image: url("../img/the-pillows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.the-pillows-background-text {
  color: #fff;
  text-shadow: #000 1px 2px 1px;
}

.winning-emoji-size {
  font-size: 5rem;
}

.song-winner-size {
  font-size: 1rem;
}

.yeah-overall-emoji-size {
  font-size: 1.3rem;
}

.yeah-total {
  background: #94ffad;
  border: 1px solid #63e081;
}

.yeah-podium-container {
  width: 6.25em;
  height: 6.25em;
}

.yeah-podium-numbers {
  font-size: 3rem; 
}

.yeah-first-position {
  color: #d4af37;
}

.yeah-second-position {
  color: #c0c0c0;
}

.yeah-third-position {
  color: #cb6d51;
}

.number-of-yeah-charts {
  position: relative;
}

#yeahs-per-year-container,
#yeahs-per-decade-container,
#yeahs-per-label-company-container {
  background: #f8f8f8;
}

.number-of-yeah-per-year,
.number-of-yeah-per-decade,
.number-of-yeah-per-company {
  width: 62.5em;
  height: 37.5em;
}

.page-item.active .page-link {
  background-color: #ffbc09;
  border-color: #000;
  color: #000;
}

.page-link {
  color: #ffbc09;
}

.page-link:hover {
  background-color: #ffbc09;
  border-color: #ffbc09;
  color: #000;
}

.page-link:focus {
  box-shadow: 0 0 0 0 #fff;
}

#thepillowsAllSongs-table {
  text-align: center;
}

#thepillowsAllSongs-table thead {
  background-color: #ffbc09;
}

@media (min-width: 160.01em) {
  .h1, h1 {
    font-size: var(--resolution-4k-title-font-size);
  }

  .h2, h2 {
    font-size: var(--resolution-4k-secondary-title-font-size);
  }

  #presentation > p {
    font-size: 6.5rem;
  }

  .number-of-yeah-per-year,
  .number-of-yeah-per-decade,
  .number-of-yeah-per-company {
    height: 50em;
    width: 118.75em;
  }
}

@media (max-width: 160em) {
  .h1, h1 {
    font-size: var(--resolution-2k-title-font-size);
  }

  #presentation > p {
    font-size: 5.5rem;
  }
}

@media (max-width: 120em) {
  .h1, h1 {
    font-size: var(--resolution-1080-title-font-size);
  }
}

@media (max-width: 62em) {
  .col {
    flex-basis: auto;
  }
}