a,
a:hover {
  color: #ffbc09;
}

::selection {
  color: #404040;
  background-color: #ffbc09;
}

#yeah-title {
  color: #ffbc09;
  font-weight: 700;
}

.the-pillows-background {
  height: 100vh;
  background-attachment: fixed;
  background-image: url("../img/the-pillows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.the-pillows-background-text {
  color: #fff;
  text-shadow: #000 1px 2px 1px;
}

.winning-emoji-size {
  font-size: 5rem;
}

.song-winner-size {
  font-size: 1rem;
}

.yeah-overall-emoji-size {
  font-size: 1.3rem;
}

.yeah-podium-container {
  width: 100px;
  height: 100px;
}

.yeah-podium-numbers {
  font-size: 3rem; 
}

.yeah-first-position {
  color: #d4af37;
}

.yeah-second-position {
  color: #c0c0c0;
}

.yeah-third-position {
  color: #cb6d51;
}

.number-of-yeah-charts {
  position: relative;
}

.number-of-yeah-per-year,
.number-of-yeah-per-decade,
.number-of-yeah-per-company {
  width: 1000px;
  height: 600px;
}

.page-item.active .page-link {
  background-color: #ffbc09;
  border-color: #000;
  color: #000;
}

.page-link {
  color: #ffbc09;
}

.page-link:hover {
  background-color: #ffbc09;
  border-color: #ffbc09;
  color: #000;
}

.page-link:focus {
  box-shadow: 0 0 0 0 #fff;
}

#thepillowsAllSongs-table {
  text-align: center;
}

#thepillowsAllSongs-table thead {
  background-color: #ffbc09;
}

@media (max-width: 991px) {
  .col {
    flex-basis: auto;
  }
}