$resolution1080titleSize: 2.8em;
$resolution2KtitleSize: 3.2em;
$resolution4KtitleSize: 3.6em;
$resolution4KSecondtitleSize: 3.3rem;

$primaryColor: #ffbc09;
$secondaryColor: #404040;
$firstPositionColor: #d4af37;
$secondPositionColor: #c0c0c0;
$thirdPositionColor: #cb6d51;