* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

#root {
  --primaryColor: #ffbc09;
  --secondaryColor: #404040;
  --firstPositionColor: #d4af37;
  --secondPositionColor: #c0c0c0;
  --thirdPositionColor: #cb6d51;
}

h1, h2, h3, p, span, th, td {
  color: var(--secondaryColor);
}

a {
  color: var(--primaryColor);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
  
::selection {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}

/* EXAMPLES COMPILATION */
.container-full {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1536px;
  padding: 0 3rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

#disqus_thread {
  min-height: 100px;
  margin-bottom: 4rem;
}

footer {
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  p {
    color: #fff;
  }
}

@media (width <= 1536px) {
	.container {
	  width: 100%;
	}
}

@media (width <= 600px) {
  footer {
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    row-gap: 2rem;
  }
}
